[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-filter = "*"
dj-rest-auth = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
